
  <ion-modal-view>
    <ion-header-bar class="bar-energized">
      <h1 ng-if="currentUnit.side == 'base'" class="title">Convert from : </h1>
      <h1 ng-if="currentUnit.side == 'result'" class="title">Convert to : </h1>
    </ion-header-bar>


    <ion-content>
			<div class="list unit-list">

				<div ng-repeat="(key, value) in units | groupBy: 'typeId' ">
					<div class="item item-divider ng-binding"> 
						{{value[0].type}}
					</div>


				  <label ng-click="setUnit(unit.name)" ng-repeat="unit in value  | filter:search.value:strict" class="item item-radio">
				    <input type="radio" name="unit" ng-checked="currentUnit.name == unit.name">
				    <div class="item-content">
				      {{unit.name}} <span class='item-note'>({{unit.symbol}})</span>
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>

				</div>


			</div>
    </ion-content>

	  <ion-footer-bar class="bar-light">
	    <button ng-if="!search.value.length"
	      class="button button-search button-icon ion-ios7-search-strong input-button">
	    </button>
	    <input type="search"
	      placeholder="Filter unit types..."
	      ng-model="search.value"
	      ng-focus="searchFocused = true"
	      ng-blur="searchFocused = false"
	      ng-change="scrollTop()">
	    <button ng-if="search.value.length"
	      class="button button-icon ion-android-close input-button"
	      ng-click="clearSearch()">
	    </button>
	  </ion-footer-bar>


  </ion-modal-view>
